{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="{% static 'sign.css' %}">
</head>

<body>
    <section class="container">
        <div class="form sign">
            <header>Signup</header>

            <!-- Displaying error messages -->
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="message">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <form method="POST" action="{% url 'signup' %}">
                {% csrf_token %}
                <div class="field">
                    <input type="text" name="name" placeholder="Full Name" required>
                </div>
                <div class="field">
                    <label>Are you a doctor or patient?</label>
                    <label><input type="radio" name="user_type" value="doctor" required> Doctor</label>
                    <label><input type="radio" name="user_type" value="patient" required> Patient</label>
                </div>
                <div class="field">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div class="field">
                    <input type="password" name="password" placeholder="Create password" required>
                </div>
                <div class="field">
                    <input type="password" name="confirm_password" placeholder="Confirm password" required>
                </div>
                <div class="field">
                    <input type="text" name="city" placeholder="City" required>
                </div>
                <div class="field">
                    <input type="text" name="state" placeholder="State" required>
                </div>
                <div class="field">
                    <input type="text" name="country" placeholder="Country" required>
                </div>
                <div class="button-field">
                    <button type="submit">SignUp</button>
                </div>
            </form>

            <div class="form-link">
                <span>Already have an account? <a href="{% url 'login' %}" class="link signup-link">Login</a></span>
            </div>
        </div>
    </section>
</body>

</html>
